<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" /> -->
  <link rel="stylesheet" href="index.css">
  <title></title>
  <script src="echarts.js"></script>
</head>
<body style="width: 1680px; height: 880px">

  <div id="plot1" style="width: 300px;height: 600px"></div>
  <div id="toggle1" class="cyberpunk"></div>
  <div id="toggle2" class="cyberpunk"></div>
  <div id="toggle3" class="cyberpunk"></div>
  <div id="plot2" style="width: 420px;height: 240px"></div>
  <div id="plot3" style="width: 420px;height: 240px"></div>
  

  <div id='main' style="width: 1680px; height: 880px">
    <div id="model">
      <div class=zero>
        <h1>模型</h1>
      </div>
      <div class=one>
        <a href="#" @click="disp('Alexnet')">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Alexnet
        </a>
      </div>
      <div class=two>
        <a href="#" @click="disp('Resnet50')">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
         Resnet50
        </a>
      </div>
      <div class=three>
        <a href="#" @click="disp('Densenet121')">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        Densenet121
        </a>
      </div>
      <div class=four>
        <h1 id=fix>模型选择为</h1>
        <transition name="slide-fade">
          <h1 v-if="showModel">{{this.name}}</h1>
        </transition>
      </div>
  </div>

  <div class="slider">
    <div class="slide" ><img src="../images/1.jpg" /><p>JHONSON </p></div>
    <div class="slide"><img src="../images/2.jpg" /><p>BEBONAD</p></div>
    <div class="slide"><img src="../images/3.jpg" /><p>KARAIOKE</p></div>
    <div class="slide" ><img src="../images/4.jpg" /><p>ROHANDSON</p></div>
  </div>

  <div class="five">
    <h1 id="fix">图像选择为</h1>
        <transition name="slide-fade">
          <h1>{{img2name[curImg]}}</h1>
        </transition>
  </div>
    
  <div id="images">
    <div id="image-title">
      <h1>图片</h1>
    </div>
  </div> 
  
  <div id="method">
    <div class=methodName>
      <h1>生成算法</h1>
    </div>
    <div class=methodOne>
      <a href="#" @click="dispMethod('FGSM')">
        <span class="m"></span>
        <span class="m"></span>
        <span class="m"></span>
        <span class="m"></span>
       FGSM
      </a>
    </div>
    <div class=methodTwo>
      <a href="#" @click="dispMethod('BIM')">
        <span class="m"></span>
        <span class="m"></span>
        <span class="m"></span>
        <span class="m"></span>
        BIM
      </a>
    </div>
    <div class=methodThree>
      <a href="#" @click="dispMethod('PGD')">
        <span class="m"></span>
        <span class="m"></span>
        <span class="m"></span>
        <span class="m"></span>
        PGD
      </a>
    </div>
    <div class=methodFour>
      <h1 id=fix>攻击算法为</h1>
      <transition name="slide-fade">
        <h1 v-if="showMethod">{{methodName}}</h1>
      </transition>
    </div>
  </div>

  <div class="result" @click="displayRes">
    <div class="loading" v-if="showLoading">
      <span>Loading...</span>
    </div>
    <img id="attackedImg" :src="curImgPath" v-if="showRes">
    
  </div>

  <button class="returnBack rb-primary rb-ghost rb-shine">
    返回
  </button>
  

  

</div>




<script type="text/javascript" src="fgsm_result.json">
</script>

<script type="text/javascript" src="bim_result.json">
</script>

<script type="text/javascript" src="pgd_result.json">
</script>


<script src="jquery-3.5.1.min.js"></script>

<script src="vue.min.js"></script>

<script>
  var obj = {}
  Object.defineProperty(obj, "res", {
        get: function(){
          return res
        },
        set: function(newValue){
          oriRes = newValue.origin
          var resDomOri = document.getElementById("plot2")
          resDomOri.style.zIndex = 999
          var myChart2 = echarts.init(resDomOri);
          legendData = []
          oriRes.forEach((v)=>{legendData.push(v.name)})
          var option2 = {
            title : {
              text: '原始结果',
              left: 'center',
              padding: 0,
			  textStyle:{
				color:'#fcfcfc'
			  }
            },
            tooltip: {
              trigger: 'item',
              formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            grid: {
              left:240,
              top:24,
              right:24,
              bottom:0
            },
            legend: {
              orient: 'vertical',
              // top: 'bottom',
              top: 50,
              right: 60,
              data: legendData
            },
            emphasis: {
                label: {
                    show: true,
                    fontSize: '20',
                    fontWeight: 'bold'
                }
            },
            labelLine: {
                show: false
            },
            series: [
                {
                    color: ['#37A2DA', '#32C5E9', '#67E0E3', '#9FE6B8', '#FFDB5C','#ff9f7f', '#fb7293', '#E062AE', '#E690D1', '#e7bcf3', '#9d96f5', '#8378EA', '#96BFFF'],
                    name: '修改后结果',
                    type: 'pie',
                    radius: '50%',
                    center: ['30%', '50%'],
                    data: oriRes,
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        myChart2.clear();
        myChart2.setOption(option2);
        
        attackedRes = newValue.attacked
        var resDomAttacked = document.getElementById("plot3")
        resDomAttacked.style.zIndex = 999
        var myChart3 = echarts.init(resDomAttacked);
        legendData = []
        attackedRes.forEach((v)=>{legendData.push(v.name)})
        var option3 = {
          title : {
            text: '攻击后结果',
            left: 'center',
			textStyle:{
				color:'#fcfcfc'
			  }
          },
          tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c} ({d}%)'
          },
          legend: {
            orient: 'vertical',
            // top: 'bottom',
            top: 50,
            right: 60,
            data: legendData
          },
          emphasis: {
              label: {
                  show: true,
                  fontSize: '20',
                  fontWeight: 'bold'
              }
          },
          labelLine: {
              show: false
          },
          series: [
              {
                  color: ['#c23531','#2f4554', '#61a0a8', '#d48265', '#91c7ae','#749f83', '#ca8622', '#bda29a','#6e7074', '#546570', '#c4ccd3'],
                  name: '访问来源',
                  type: 'pie',
                  radius: '50%',
                  center: ['30%', '50%'],
                  data: attackedRes,
                  emphasis: {
                      itemStyle: {
                          shadowBlur: 10,
                          shadowOffsetX: 0,
                          shadowColor: 'rgba(0, 0, 0, 0.5)'
                      }
                  }
              }
          ]
      };
        myChart3.clear();
        myChart3.setOption(option3);

        }
      })
</script>

<script type="module">

  var vm = new Vue({
  el: '#main',
    created() {
        this.$on("changePic", (res)=>{this.curImg = res})
        },
  methods: {
    disp(name){
      this.showModel = false
      setTimeout(
        ()=>{
          this.name=name
          this.showModel=true
        }, 400
        )
    },
    dispMethod(name){
      this.showMethod = false
      setTimeout(
        ()=>{
          this.methodName=name
          this.showMethod=true
        }, 400
        )
    },
    displayRes(){
      var resDomOri = document.getElementById("plot2")
      resDomOri.style.zIndex = -1
      var resDomOri = document.getElementById("plot3")
      resDomOri.style.zIndex = -1
      this.showRes = false
      this.showLoading = true
      setTimeout(()=>{
        this.curImgPath = "../images/attacked/" + (parseInt(window.curImg[0])-1) + '_' + this.name + '_' + this.methodName + '.jpg'
        console.log(this.curImgPath)
        this.getRes(this.methodName, this.curImg, this.name)
        this.showLoading = false
        this.showRes = true
      }, 2000)
    },
    getRes(method, curImg, modelName){
      var modelMap = {"Alexnet":"alexnet", "Resnet50":"resnet", "Densenet121":"densenet"}
      if (method==='FGSM'){
        var model = modelMap[modelName]
        var tmp = fgsm_res.origin[curImg][model]
        var origin = []
        tmp.forEach((v)=>{origin.push({"name": v[0], "value": v[1]})})
        var tmp = fgsm_res.attacked[curImg][model]
        var attacked = []
        tmp.forEach((v)=>{attacked.push({"name": v[0], "value": v[1]})})
      }
      if (method==='BIM'){
        var model = modelMap[modelName]
        var tmp = bim_res.origin[curImg][model]
        var origin = []
        tmp.forEach((v)=>{origin.push({"name": v[0], "value": v[1]})})
        var tmp = bim_res.attacked[curImg][model]
        var attacked = []
        tmp.forEach((v)=>{attacked.push({"name": v[0], "value": v[1]})})
      }
      if (method==='PGD'){
        var model = modelMap[modelName]
        var tmp = pgd_res.origin[curImg][model]
        var origin = []
        tmp.forEach((v)=>{origin.push({"name": v[0], "value": v[1]})})
        var tmp = bim_res.attacked[curImg][model]
        var attacked = []
        tmp.forEach((v)=>{attacked.push({"name": v[0], "value": v[1]})})
      }
      obj.res = {'origin': origin, 'attacked': attacked}
    }
    
  },
  data: {
    name: "Alexnet",
    showModel: true,
    img2name:{
      "1.jpg": "车辆",
      "2.jpg": "大熊猫",
      "3.jpg": "键盘",
      "4.jpg": "篮球"
    },
    curImgPath: "",
    curImg: "",
    showMethod: true,
    methodName: "FGSM",
    showLoading: false,
    showRes: false,
    originRes: fgsm_res
  }
})

window.addEventListener('load', onWndLoad, false);

function onWndLoad() {
    var slider = document.querySelector('.slider');
    var sliders = slider.children;
    var initX = null;  
    var transX = 0;
    var rotZ = 0;
    var transY = 0;
    var curSlide = null;
    var Z_DIS = 50;
    var Y_DIS = 10;
    var TRANS_DUR = 0.4;
    var curImg = null;
    var images=document.querySelectorAll('img');
    for(var i=0;i<images.length;i++)
      {
        images[i].onmousemove=function(e){
          e.preventDefault()
        }
        images[i].ondragstart=function(e){
          return false;
        }
      }
    function init() {
      var z = 0, y = 0;
      for (var i = sliders.length-1; i >=0; i--) {
        sliders[i].style.transform = 'translateZ(' + z + 'px) translateY(' + y + 'px)'; 
        z -= Z_DIS;
        y += Y_DIS;
      }
      attachEvents(sliders[sliders.length - 1]);
    }
    function attachEvents(elem) {
      curSlide = elem;
      curSlide.addEventListener('mousedown', slideMouseDown, false);
      curSlide.addEventListener('touchstart', slideMouseDown, false);
      window.curImg = (elem.firstChild.src+"").split('/').slice(-1)[0]
      vm.$emit("changePic", window.curImg)
    }
    init();
    function slideMouseDown(e) {
      if (e.touches) {
        initX = e.touches[0].clientX;
      }
      else {
        initX = e.pageX;
      }
      document.addEventListener('mousemove', slideMouseMove, false);
      document.addEventListener('touchmove', slideMouseMove, false);
      document.addEventListener('mouseup', slideMouseUp, false);
      document.addEventListener('touchend', slideMouseUp, false);
    }
      var prevSlide = null;
    function slideMouseMove(e) {
      var mouseX;
      if (e.touches) {
          mouseX = e.touches[0].clientX;
      }
      else {
          mouseX = e.pageX;
      }
      transX += mouseX - initX;
      rotZ = transX / 20;
      transY = -Math.abs(transX / 15);
      curSlide.style.transition = 'none';
      curSlide.style.webkitTransform = 'translateX(' + transX + 'px)' + ' rotateZ(' + rotZ + 'deg)' + ' translateY(' + transY + 'px)';
      curSlide.style.transform = 'translateX(' + transX + 'px)' + ' rotateZ(' + rotZ + 'deg)' + ' translateY(' + transY + 'px)';
      var j = 1;
      //remains elements
      for (var i = sliders.length - 2; i >= 0; i--) 
      {
        sliders[i].style.webkitTransform = 'translateX(' + transX/(2*j) + 'px)' + ' rotateZ(' + rotZ/(2*j) + 'deg)' + ' translateY(' + (Y_DIS*j) + 'px)'+ ' translateZ(' + (-Z_DIS*j) + 'px)';
        sliders[i].style.transform = 'translateX(' + transX/(2*j) + 'px)' + ' rotateZ(' + rotZ/(2*j) + 'deg)' + ' translateY(' + (Y_DIS*j) + 'px)'+ ' translateZ(' + (-Z_DIS*j) + 'px)';
        sliders[i].style.transition = 'none';
        j++;
      }      

      initX =mouseX;
      e.preventDefault();
      if (Math.abs(transX) >= curSlide.offsetWidth-30) {
        document.removeEventListener('mousemove', slideMouseMove, false);
        document.removeEventListener('touchmove', slideMouseMove, false);
        curSlide.style.transition = 'ease 0.2s';
        curSlide.style.opacity = 0;
        prevSlide = curSlide;
        attachEvents(sliders[sliders.length - 2]);
        slideMouseUp();
        setTimeout(function () {
          slider.insertBefore(prevSlide, slider.firstChild);
          prevSlide.style.transition = 'none';
          prevSlide.style.opacity = '1';
          slideMouseUp();
        },201);
      return;
          }
    }
    function slideMouseUp() {
      transX = 0;
      rotZ = 0;
      transY = 0;
    
      curSlide.style.transition = 'cubic-bezier(0,1.95,.49,.73) '+TRANS_DUR+'s';

      curSlide.style.webkitTransform = 'translateX(' + transX + 'px)' + 'rotateZ(' + rotZ + 'deg)' + ' translateY(' + transY + 'px)';
      curSlide.style.transform = 'translateX(' + transX + 'px)' + 'rotateZ(' + rotZ + 'deg)' + ' translateY(' + transY + 'px)';
        //remains elements
      var j = 1;
      for (var i = sliders.length -  2; i >= 0; i--) {
        sliders[i].style.transition = 'cubic-bezier(0,1.95,.49,.73) ' + TRANS_DUR / (j + 0.9) + 's';
        sliders[i].style.webkitTransform = 'translateX(' + transX + 'px)' + 'rotateZ(' + rotZ + 'deg)' + ' translateY(' + (Y_DIS*j) + 'px)' + ' translateZ(' + (-Z_DIS*j) + 'px)';
        sliders[i].style.transform = 'translateX(' + transX + 'px)' + 'rotateZ(' + rotZ + 'deg)' + ' translateY(' + (Y_DIS*j) + 'px)' + ' translateZ(' + (-Z_DIS*j) + 'px)';
        j++;
      }
      document.removeEventListener('mousemove', slideMouseMove, false);
      document.removeEventListener('touchmove', slideMouseMove, false);
    }
}

</script>
<script src='ecStat.min.js'></script>
<script>
    var dom = document.getElementById("plot1");
    var myChart = echarts.init(dom);
    option = null;
    option = {
      color: ['#c23531','#2f4554', '#61a0a8', '#d48265', '#91c7ae','#749f83',  '#ca8622', '#bda29a','#6e7074', '#546570', '#c4ccd3'],
      backgroundColor: 'rgba(255,255,255,0.3)',
      legend: {},
      tooltip: {
        trigger: 'axis',
        showContent: false
      },
      dataset: {
        source: [
          ['model', 'Yolov3', 'RetinaNet', 'SSD', 'FasterRCNN', 'MaskRCNN'],
          ['PGD', 41.1, 30.4, 65.1, 53.3, 8],
          ['FGSM', 86.5, 92.1, 85.7, 83.1, 4],
          ['DIM', 24.1, 67.2, 79.5, 86.4, 2],
          ['DR', 55.2, 67.1, 69.2, 72.4, 9]
        ]
      },
      xAxis: [
        {type: 'category', gridIndex:0,
          axisLabel: {
          interval: 0, 
          rotate:40,
          }
        },
        {type: 'category', gridIndex:1},
      ],
      yAxis: [
        {gridIndex: 0},
        {gridIndex: 1}
        ],
      grid: 
      [
        {top: '55%'}, 
        {bottom:'55%'}
      ],
      series: [{
          type: 'line',
          smooth: true,
          seriesLayoutBy: 'row',
          xAxisIndex: 0,
          yAxisIndex: 0
        },
        {
          type: 'line',
          smooth: true,
          seriesLayoutBy: 'row',
          xAxisIndex: 0,
          yAxisIndex: 0
        },
        {
          type: 'line',
          smooth: true,
          seriesLayoutBy: 'row',
          xAxisIndex: 0,
          yAxisIndex: 0
        },
        {
          type: 'line',
          smooth: true,
          seriesLayoutBy: 'row',
          xAxisIndex: 0,
          yAxisIndex: 0
        },
        {
          type: 'line',
          smooth: true,
          seriesLayoutBy: 'row',
          xAxisIndex: 0,
          yAxisIndex: 0
        },
      ]
    };
    myChart.on('updateAxisPointer', function (event) {
      var xAxisInfo = event.axesInfo[0];
      
      if (xAxisInfo && xAxisInfo.axisIndex===0) {
        var columnValue = event.dataIndex
        var dimension = xAxisInfo.value + 1;
        var option_1 = null
        option_1 = {
          ...option,
          series:[
            ...option.series,
            {
              type: 'bar', xAxisIndex: 1, yAxisIndex: 1, seriesLayoutBy: 'column',
              encode:{x:0, y:columnValue+1}
          },
        ]
        },
        myChart.setOption(option_1)
      }})
      
    myChart.setOption(option);

</script>
<script>
  $(document).ready(function(){
    $('#toggle1').click(function(){
      $("#plot1").toggle(1000)
    })
  })
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".returnBack").click(function(){
            $('#frame2', window.parent.document).attr('src','/ai/AIForTesting/index.html');
        });
    });
    </script>

  
</body>

</html>

